*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(145, 240, 242);
    font-family: sans-serif;
}
div{
    width: 90vw;
    max-width: 500px;
    height: auto;
    background-color: rgb(255, 255, 76);
    margin: 50px auto;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}
h5{padding-bottom: 10px; color:cornflowerblue;}
button{
    border-radius: 3px;
    border: none;
    color: white;
    width: 80%;
    max-width: 200px;
    margin: 5px 0;
}
.b1{background-color: pink;}
.b2{background-color: purple;}
.b3{background-color: greenyellow;}
.b4{background-color: cyan;}
.b5{background-color: orange;}